<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<div class="container">
        <div class="form">
        <form method="POST" action="/data">
            <div class="form-header">
              <h1>Cadastre-se</h1>
            </div>
            <div class="PersonalData">
                <div class="input-box">
                  <label for="FullNameRequest">Nome Completo</label>
                  <input type="text" name="nome" placeholder="Digite o seu nome" >
                </div>
                <div class="input-box">
                  <label for="DataDeNascimento">Nascimento</label>
                  <input type="date" name="nascimento" placeholder="XX/XX/XXXX" >
                </div>
                <div class="input-box">
                  <label for="EmailRequest" >E-mail</label>
                  <input type="email" name="email" placeholder="Email para contato" >
                </div>
                <div class="input-box">
                  <label for="cpfRequest">CEP</label>
                  <input type="number" placeholder="xxxxx-xxx" >
                </div>
                
                <div class="input-box">
                  <label for="CelularRequest">Celular</label>
                  <input type="number" placeholder="(xx) xxxxx-xxxx" >
                </div>
                <div class="input-box">
                  <label for="SiteRequest">Link</label>
                  <input type="text" placeholder="Linkedin, Github, Portfólio...">
                </div>
                
            </div>
                <div class="form-check">
                   <input type="checkbox" >
                   <label for="ValidationOfPersonaldata">Valido que os dados apresentados estão corretos</label>
                </div>
                
                <div class="concluir-button">
                    <button type="submit">Concluir</button>
                </div>
        </form>     
         </div>
         <div class="conect"></div>
   
</div>

</body>
</html>